*

!.gitignore

!dunst/
!dunst/**
!fastfetch/
!fastfetch/**
!hypr/
!hypr/**
!kitty/
!kitty/**
!matugen/
!matugen/**
!micro/
!micro/**
!rofi/
!rofi/**
!wallpapers/
!wallpapers/**
!waybar/
!waybar/**
!wallpaper_loop.sh
!README.md
!select_wallpaper.sh
