# 1. Ignorar todo en .config
*

# 2. Permitir este archivo
!.gitignore

# 3. Lista blanca de carpetas y su contenido
!dunst/
!dunst/**
!fastfetch/
!fastfetch/**
!hypr/
!hypr/**
!kitty/
!kitty/**
!matugen/
!matugen/**
!rofi/
!rofi/**
!wallpapers/
!wallpapers/**
!waybar/
!waybar/**
!wallpaper_loop.sh
