*

!.gitignore
!dunst/
!dunst/**
!ejemplos/
!ejemplos/**
!fastfetch/
!fastfetch/**
!hypr/
!hypr/**
!install.sh
!kitty/
!kitty/**
!matugen/
!matugen/**
!micro/
!micro/**
!rofi/
!rofi/**
!sptlrx/
!wallpapers/
!wallpapers/**
!waybar/
!waybar/**
!wallpaper_loop.sh
!README.md
!restart_wallpaper.sh
!select_wallpaper.sh
!temasVarios/
!temasVarios/**
!Afterglow-Cursors-src/
!Afterglow-Cursors-src/**
