* {
    primary: #ffaed9;
    secondary: #ebb8d1;
    tertiary: #9ad77c;
    error: #ffb4ab;

    surface: #181115;
    surface-container: #251d21;
    surface-container-highest: #3b3236;

    on-surface: #eedfe4;
    on-surface-variant: #d7c1ca;
    outline: #9f8c94;

    bg0: #181115;
    bg0-transparent: #181115B3;
    bg1: #21191d;
    bg2: #251d21;
    bg2-transparent: #251d21B3;
    bg3: #3b3236;
    bg4: #40373b;
    text: #eedfe4;
    red: #ffb4ab;
    green: #9ad77c;
    blue: #ffaed9;
    grey1: #d7c1ca;
}
