* {
    primary: #c0c7d5;
    secondary: #c4c6cf;
    tertiary: #bdc7dc;
    error: #ffb4ab;

    surface: #131315;
    surface-container: #1f1f21;
    surface-container-highest: #353536;

    on-surface: #e4e2e3;
    on-surface-variant: #c8c6c7;
    outline: #929092;

    bg0: #131315;
    bg0-transparent: #131315B3;
    bg1: #1b1b1d;
    bg2: #1f1f21;
    bg2-transparent: #1f1f21B3;
    bg3: #353536;
    bg4: #39393a;
    text: #e4e2e3;
    red: #ffb4ab;
    green: #bdc7dc;
    blue: #c0c7d5;
    grey1: #c8c6c7;
}
