* {
    primary: #b1e7ff;
    secondary: #abccdb;
    tertiary: #ffd9b4;
    error: #ffb4ab;

    surface: #101416;
    surface-container: #1c2022;
    surface-container-highest: #313538;

    on-surface: #dfe3e6;
    on-surface-variant: #bec8ce;
    outline: #889297;

    bg0: #101416;
    bg0-transparent: #101416B3;
    bg1: #181c1e;
    bg2: #1c2022;
    bg2-transparent: #1c2022B3;
    bg3: #313538;
    bg4: #353a3c;
    text: #dfe3e6;
    red: #ffb4ab;
    green: #ffd9b4;
    blue: #b1e7ff;
    grey1: #bec8ce;
}
